
body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 600px) {
    .content h1 {
    font-weight: bold;
    font-size: 13px;
    padding: 10px 20px;
   }
}
.content h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #ff4d88; /*pink */
    text-shadow:
        0 0 5px #ff4d88,
        0 0 10px #ff4d88,
        0 0 20px #ff4d88,
        0 0 40px #ff80aa;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("heart.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    transform: scale(1.05);
    z-index: -1;
}
button {
    padding: 12px 26px;     
    font-size: 18px;        
    border: none;           
    border-radius: 30px; 
    cursor: pointer;         
    margin: 10px;
    background-color: #ff4d4d;  
    color: white;                
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: white;
    color: #ff4d4d;;  
}
#noBtn {
  position: absolute;
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 12px 26px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: top 0.3s ease, left 0.3s ease;
}
